/* import font-families:Noto Sans Variable,Noto Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,700;8..144,800&display=swap');

@font-face {
  font-family: MontserratHeading;
  /* src: url("../fonts/Montserrat/static/Montserrat-ExtraBold.ttf"); */
}

/* div {
} */

.aboutusheading {
  color: #1C656D;
  font-size: 36px;
  font-family: Roboto Serif;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 150%;
  letter-spacing: 0.09px;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.crazynestingsectiona p {
  color: #121212;
  font-size: 16px;
  font-family: Roboto Serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
  width: 95%;
}

.aboutusheading>span {
  font-family: Roboto Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.005em;
  text-align: left;
  color: #000;
}

.aboutusheading>p {
  font-family: "Helvetica", sans-serif;
  font-size: 47px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0em;
  text-align: left;
}

.paragraph_abt {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.allabout h1,
.allabout h2,
.allabout h3 {
  font-family: MontserratHeading;
}

.allabout {
  /* font-family: Montserrat; */
  scroll-snap-type: y mandatory;
  font-family: 'Roboto';
}

.aboutmain {
  background-color: #fff;
  /* overflow: hidden; */
}


.abouticons {
  transition: transform 0.5s ease;
  /* Add this line for the transition effect */
  /* transform-origin: 50% 20%; */
  /* border: 1px solid; */
  /* position: fixed; */
  left: 60%;
  top: 15rem;
  border-radius: 50%;
  width: 30vw;
  position: sticky;
  top: 15rem;
  margin-left: 30px;
  height: fit-content;
}

/* Add these lines to handle the initial rotation state */
.abouticons.rotate-45 {
  transform: rotate(45deg);
}

.abouticons.rotate-120 {
  transform: rotate(120deg);
}

.abouticons.rotate-135 {
  transform: rotate(240deg);
}

#sectiona {
  /* border: 1px solid; */
  padding-inline: 10rem;
  scroll-snap-align: start;
  /* margin-bottom: 2.5rem;
    height: 100vh; */
  /* padding-block: 10rem; */
  padding-top: 8rem;
  row-gap: 3rem;
  display: flex;
  flex-direction: column;
  height: 120vh;
}

.bruh {
  position: relative;
  display: flex;
  width: 850px;
  height: 307px;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  /* background: #1C656D; */
  z-index: 1;
}



.bruh p {
  color: #FAFAFA;
  width: 775px;
  text-align: justify;
  font-family: "Roboto Serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 24px */
  letter-spacing: 0.08px;
}

.v {
  font-size: 2rem !important;
}

.binocularvision p:nth-child(2) {
  color: #FFF;
  margin-block: 1rem;
  font-family: "Roboto Serif";
  text-align: left;
  font-size: 47px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0em;
  width: 47rem;
  text-transform: capitalize;
  /* letter-spacing: 0.09px; */
}

#sectionb .linevision,
.founder1 .linevision {
  position: absolute;
  top: 0;
  right: 4rem;
  width: 3px;
  height: 501px;
  background-color: white;
  border-width: 13px;
}

.founder1 .linevision {
  height: 233px;
}

.foundercontent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 339px;
  top: 18rem;
  /* height: 230px; */
  padding: 20px;
  border: 4px solid rgba(180, 231, 237, 1);
  gap: 16px;
  background: rgba(255, 255, 255, 1);
  color: #000;
}

#foundercontent1 {
  right: 22rem;
}

#foundercontent2 {
  right: -4rem;
}

#sectionb .circle,
.founder1 .circle {
  position: absolute;
  bottom: 15rem;
  right: 3.472rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder1 .circle {
  top: 14rem;
}

#pickstock {
  display: flex;
  background-color: #fff;
  position: relative;
  /* top: 12rem; */
  padding-left: 5rem;
  padding-top: 5rem;
  width: 100%;
  height: 100vh;
}

#pickstock .linevision,
.bruh1 .linevision,
#community .linevision {
  background-color: #1C656D;
  position: relative;
  /* rotate: 90deg; */
  width: 200px;
  height: 3px;
  /* position: absolute; */
  left: 0rem;
  /* top: -17rem; */
}

.bruh1 .linevision,
#community .linevision {
  width: 763px;
}

#pickstock .circle,
.bruh1 .circle,
#community .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1C656D;
  position: relative;
  /* left: 15rem; */
  /* top: -2rem; */
}

#pickstock .circle2 {
  border-radius: 50%;
  background: rgba(180, 231, 237, 1);
  font-family: Roboto Serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align:justify;
  position: absolute;
  display: grid;
  place-items: center;
  width: 40px;
  aspect-ratio: 1;
  left: 8rem;
  top: 2rem;
}

#pickstock #circle2{
  top: 3rem;
}

.linecircle {
  position: relative;
  display: flex;
  align-items: center;
}

.bruh1 .linecircle,
#community .linecircle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bruhbef {
  content: "";
  position: relative;
  width: 779px;
  height: 377px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 4px solid var(--cream, #F2DDC2);
  z-index: 0;
  top: -21rem;
  left: -2rem;
}

.bruhcircleglow,
.pickstockcircleglow {
  position: absolute;
  left: 38rem;
  width: 588px;
  height: 557px;
  flex-shrink: 0;
  border-radius: 588px;
  background: #C1F8FF;
  filter: blur(100px);
}

.pickstockcircleglow {
  left: 10rem;
  top: 0;
}

.binocular {
  position: relative;
  width: 404.6px;
  height: 475.39px;
  /* top: 1495.39px;
  left: 536.6px; */
  border-radius: 58px 0px 0px 27px;
  background: rgba(220, 251, 254, 1);
}

.binocular::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2rem;
  left: -1rem;
  border-radius: 58px 0px 0px 27px;
  background: rgba(220, 251, 254, 0.3);
  z-index: 0;
  /* filter: blur(100px); */
}

.binocular img {
  /* width: 641px;
  height: 537px;
  position: relative;
  left: 4rem;
  z-index: 1;
  top: -2rem; */
}

#sectionb {
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: 10rem; */
  /* scale: 0.85; */
  background-color: #1C656D;
  /* padding-block: 4rem; */
  scroll-snap-align: start;
  /* padding-top: 3rem; */
  height: 100vh;
  /* padding-inline: 4rem; */
  overflow: hidden;
  /* border: 1px solid red; */
}

#sectionc {
  position: relative;
  scroll-snap-align: start;
  background: #1C656D;
  /* border: 1px solid green; */
  height: 100vh;
  width: 99.5vw;
  padding: 6rem;
  padding-top: 0;
  color: #fff;
  display: flex;
  justify-content: center;
}

#sectionc strong {
  /* color: var(--whites-2, #FAFAFA); */
  /* text-align: center; */
  color: #000;
  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  /* 23.2px */
  text-transform: capitalize;
}

#sectionc button {
  position: absolute;
  background: none;
  /* color: #fff; */
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  margin-top: 2rem;
  overflow: hidden;
}

#sectionc button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #fff;
}

#sectionc .leftarrow {
  rotate: 180deg;
  left: 16rem;
  top: 23rem;
  z-index: 8;
}

#sectionc .rightarrow {
  right: 16rem;
  top: 23rem;
}

.founders {
  position: relative;
  display: flex;
  column-gap: 4rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 80%;
  /* overflowX: "hidden"  */
}

.founder1 {
  transition: all 0.5s ease;
}

.founder2 {
  transition: all 0.5s ease;
}

.bruh1 {
  position: relative;
  /* overflow-x: hidden; */
  /* top: 22rem; */
  row-gap: 5rem;
  display: flex;
  flex-direction: column;
  /* width: 1458px; */
  width: 100%;
  height: 120vh;
  /* flex-shrink: 0; */
  /* border-radius: 10px; */
  /* background: var(--Rectangle-78, #1C656D); */
  padding-top: 5rem;
  z-index: 1;
  /* margin-bottom: 6rem; */
}

.bruh1bef {
  content: "";
  display: none;
  position: absolute;
  width: 80vw;
  height: 98%;
  flex-shrink: 0;
  border-radius: 10px;
  border: 4px solid var(--cream, #F2DDC2);
  z-index: 0;
  /* left: 9rem; */
  top: 94rem;
  scale: 0.85;
}

.pillarcontainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 355px;
  height: 521px;
  /* background-color: red; */
  justify-content: flex-end;
}

.pillar {
  position: relative;
}

.pillar h3 {
  width: fit-content;
  color: var(--Rectangle-79, #B4E7ED);
  text-align: justify;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: rotate(90deg);
  position: absolute;
  top: 6rem;
  left: 7rem;
}

.pillartopimg {
  position: relative;
  z-index: 1;
  width: 135.456px;
  height: 102.89px;
  flex-shrink: 0;
  /* fill: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
box-shadow: 0px 2px 5.8px 0px rgba(255, 255, 255, 0.25) inset; */
}

.pillartoppartimg {
  position: absolute;
  left: 14px;
  top: 21px;
}

.pillarrectangle {
  position: relative;
  left: 26px;
  top: -35px;
  width: 24.067px;
  height: 183.517px;
  flex-shrink: 0;
  border: 1px solid var(--orange-gradient, #F2DDC2);
  background: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.80) inset;
  filter: drop-shadow(7px 5px 5.3px rgba(0, 0, 0, 0.25));
}

.pillarrectangle2 {
  width: 24.067px;
  height: 192.542px;
  flex-shrink: 0;
  border: 1px solid var(--orange-gradient, #F2DDC2);
  background: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.80) inset;
  filter: drop-shadow(7px 5px 5.3px rgba(0, 0, 0, 0.25));
  position: absolute;
  left: 63px;
  top: 63px;
}

.pillarrectangle3 {
  width: 24.067px;
  height: 192.542px;
  flex-shrink: 0;
  border: 1px solid var(--orange-gradient, #F2DDC2);
  background: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
  box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.80) inset;
  filter: drop-shadow(7px 5px 5.3px rgba(0, 0, 0, 0.25));
  position: absolute;
  left: 102px;
  top: 63px;
}

.bruh1 p

/* #community p  */
  {
  text-align: center;
}

.elecontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 383px;
  padding: 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  /* border-radius: 10px; */
  background: rgba(245, 245, 245, 1);
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
  filter: brightness(1);
  transition: filter 0.5s ease;
  z-index: 0;
}

.eleimg {
  position: absolute;
  top: 0;
  left: 3rem;
  z-index: 1;
}

.eleimg img {
  width: 255px;
  height: 262px;
}


.elecontent p {
  width: 261px;
  color: var(--whites-3, #FFF);
  text-align: justify;
  font-family: "Roboto Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  letter-spacing: 0.07px;
}

.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 545px;
  /* height: 100%; */
  /* scale: 0.85; */
}

.elements .pillarcontainer:first-child::after {
  content: "";
  position: absolute;
  width: 710px;
  height: 1042px;
  flex-shrink: 0;
  z-index: 1;
  /* background-color: rgba(220, 251, 254, 0.3); */
  top: -14rem;
  left: -11rem;
  scale: 0.6;
  filter: brightness(0.8);
  backdrop-filter: blur(3px);
}

.elements .pillarcontainer:last-child::after {
  content: "";
  position: absolute;
  width: 710px;
  height: 1042px;
  flex-shrink: 0;
  z-index: 1;
  /* background-color: rgba(220, 251, 254, 0.3); */
  top: -14rem;
  left: -11rem;
  scale: 0.6;
  filter: brightness(0.8);
  backdrop-filter: blur(3px);
}

.bruh1 h2,
#community h2 {
  text-align: center;
  color: #000;
  font-size: 36px;
  font-family: Roboto Serif;
  font-weight: 600;
  word-wrap: break-word
}

.bruh1>img:nth-child(2) {
  position: absolute;
  top: 9rem;
  z-index: 2;
  width: 0%;
}

.bruh1>img:last-child {
  position: absolute;
  bottom: 0rem;
  z-index: 2;
  width: 0%;
}

.elecontent p {
  color: #000;
}

#pickstock h3 {
  color: var(--Rectangle-78, #1C656D);
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.09px;
  text-transform: capitalize;
}

.pickstockcontent {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  column-gap: 2rem;
  /* scale: 0.85; */
}

.pickstockcontent1,
.pickstockcontent2,
.pickstockcontent3 {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 409.878px;
  flex-shrink: 0;
  background-color: var(--Rectangle-78, #fff);
  color: #000;
  border: 2px solid #1C656D;
  z-index: 2;
}

.pickstockcontent1,
.pickstockcontent3 {
  height: 318px;
  position: relative;
}

.pickstockcontent2 {
  height: 410px;
  position: relative;
}

.pickstockcontent1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0rem;
  left: 0;
  background: linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%);
  z-index: -1;
}

.pickstockcontent2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0rem;
  left: 0;
  background: linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%);
  z-index: -1;
}

.pickstockcontent3::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  top: 0rem;
  left: 0;
  background: linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%);
  z-index: -1;
}

.pickstockbtns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.5rem;
  padding: 1rem;
  position: relative;
  top: 1rem;
}

.pickstockbtn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(30, 110, 118, 1);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#pickstockbtn1 {
  width: 50px;
  height: 50px;
}

.picktopcolor {
  position: relative;
  width: 312px;
  height: 108px;
  flex-shrink: 0;
  background: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.pickstockcontent1 .picktopcolor,
.pickstockcontent3 .picktopcolor {
  height: 83px;
}

.picktopcolor img {
  width: 291px;
  height: 168px;
  flex-shrink: 0;
}

.picktopcolor .circle {
  position: absolute;
  bottom: -1.5rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--Rectangle-79, #B4E7ED);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickimage {
  position: relative;
  left: -1rem;
  width: 404px;
  height: 629px;
  /* background: rgba(30, 110, 118, 1); */
  z-index: 1;
}

.pickimage>img {
  width: 100%;
  height: 85%;
  object-fit: cover;
  /* mirror */
  transform: scaleX(-1);
}

.pickimgbgblue {
  position: absolute;
  width: 347px;
  height: 347px;
  background: #1C656D;
  z-index: 0;
  top: 20rem;
  right: 2rem;
}

.circle .num {
  color: var(--black-2, #242424);
  text-align: justify;
  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  /* 27px */
  text-transform: capitalize;
}

.polygonbottom1,
.polygonbottom2,
.polygonbottom3 {
  /* triangle */
  position: absolute;
  bottom: -6.9rem;
  width: 220px;
  aspect-ratio: 1/1;
  flex-shrink: 0;
  background: var(--orange-gradient, #1C656D);
  transform: rotate(45deg);
  z-index: 1;
}

.polygonbottom1 {
  left: 2.9rem;
  bottom: -4rem;
}

.polygonbottom3 {
  right: 2.9rem;
  bottom: -4rem;

}

.pickonlytext {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-top: 5rem;
}

.pickstockcontent2 .pickonlytext {
  padding-top: 8rem;
}

.title_one {
  /* color: var(--whites-2, #FAFAFA); */
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
  /* 23.2px */
  text-transform: capitalize;
  width: 289px;
}

.pickstockcontent1 .title_one,
.pickstockcontent3 .title_one {
  /* font-size: 16px; */
  line-height: 100%;
}

.pickpara {
  width: 252px;
  /* color: var(--whites-2, #FAFAFA); */
  text-align: justify;
  font-family: "Roboto Serif";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  /* 18.9px */
}

.pickstockcontent1 .pickpara,
.pickstockcontent3 .pickpara {
  width: 245px;
}

hr {
  /* border-top: 4px dotted #1C656D;
  height: 3px;
  width: 46%;
  margin-top: 6rem; */
}

.hrcircle {
  position: absolute;
  left: 26.8%;
  top: 5.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--Rectangle-79, #1C656D);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrcircle::before {
  content: "";
  position: absolute;
  left: 21.5rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--Rectangle-78, #1C656D);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hrcircle::after {
  content: "";
  position: absolute;
  left: 43rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: var(--Rectangle-78, #1C656D);
  display: flex;
  justify-content: center;
  align-items: center;
}

#community {
  row-gap: 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  scroll-snap-align: start;
  height: 100vh;
  padding-block: 5rem;
  width: 100%;
}

#community div:first-child>p {
  text-align: center;
}

#community::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  /* flex-shrink: 0; */
  /* border-radius: 10px; */
  /* border: 4px solid var(--cream, #F2DDC2); */
  z-index: 0;
  bottom: 17rem;
  background: rgba(180, 231, 237, 0.35);
  /* scale: 0.85; */
}

.cardinfo {
  position: relative;
  display: flex;
  width: 767.57px;
  height: 320px;
  background: rgba(28, 101, 109, 1);
}

.cardinfo::after {
  content: "";
  position: absolute;
  left: 2rem;
  top: 3rem;
  width: 100%;
  height: 95%;
  background: rgba(241, 241, 241, 1);
  z-index: -1;
  /* rotate: 40deg; */
}

.cardinfocontent {
  width: 507px;
  height: 171px;
  position: relative;
  left: 10rem;
  top: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: #fff;
  /* top: 3893px */
  /* left: 495.67px */
  /* gap: 16px */
}

/* .cardinfo::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(180, 231, 237, 1);
  z-index: 0;
  rotate: 40deg;
} */

.bluetriangle {
  clip-path: polygon(100% 0, 0 0, 100% 44%);
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(180, 231, 237, 1);
  z-index: 0;
}

.cardone {
  position: absolute;
  /* transform: translateX(100%); */
  transition: transform 0.5s ease;
}


.cardtwo {
  position: absolute;
  transform: translateX(200%);
  transition: transform 0.5s ease;
}

.cardthree {
  position: absolute;
  transform: translateX(300%);
  transition: transform 0.5s ease;
}

.cardfour {
  position: absolute;
  transform: translateX(400%);
  transition: transform 0.5s ease;
}

.cardfive {
  position: absolute;
  transform: translateX(500%);
  transition: transform 0.5s ease;
}

.communitycards {
  padding-bottom: 10rem;
  padding-top: 5rem;
  width: 99vw;
  z-index: 1;
}

.communitycards>div {
  align-items: center;
  width: 100%;
}

.communitycards button {
  height: fit-content;
  z-index: 1;
  position: relative;
  top: 9rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background-color: transparent;
  /*filter: drop-shadow(0px 4px 4px rgb(28, 101, 109)); */
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.communitycards button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: #fff;
}

.prev {
  left: -23.5rem;
}

.after {
  right: -23.5rem;
}


.communitypara,
.founderpara {
  /* margin-bottom: 6rem; */
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.005em;
  text-align: left;
}

.founderpara {
  color: rgba(105, 105, 105, 1);
}

.rating {
  display: flex;
  gap: 0.5rem;
}

.communityname {
  font-size: 1.7rem !important;
  font-weight: 600 !important;
  width: 40rem;
  ;
}

.communityplace {
  font-size: 1.1rem !important;
  width: 40rem;
}

.communitypara {
  font-size: 1rem !important;
}

.foundercontent .foundername {
  width: 100%;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}

.foundercontent .founderplace {
  width: 100%;
}

/* transition to progress */
.progress {
  transition: width 0.5s ease;
  /* Add this line for the transition effect */
}

.communityimg {
  position: absolute;
  left: -8rem;
  top: -6rem;
}

.communityimg img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
  border: 9px solid rgba(255, 255, 255, 1)
}



.founderrud,
.founderpray {
  width: 346px;
  height: 100%;
  flex-shrink: 0;
  scale: 0.9;
  /* border-radius: 10px; */
  background: var(--orange-gradient, linear-gradient(180deg, #F2DDC2 0%, #E7BD88 100%));
}

#aboutimgcontainer {
  position: relative;
  border-radius: 10px;
  background: linear-gradient(90deg, #95aabd 0%, #bed4e2 100%);
  box-shadow: 11px 6px 6.9px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 544px;
  height: 560px;
  flex-shrink: 0;
  z-index: 1;
  border-radius: 50%;
  /* box-shadow: ; */
}

.lines {
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  /* border:5px solid red; */
  z-index: 5;
}

.line {
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
  width: 10px;
  /* height: 503px; */
  height: 100%;
  background-color: white;
  border-width: 13px;
}

.crazynestingsectiona {
  position: absolute;
  z-index: 1;
  background: #fff;
  border: 2px solid #1C656D;
  /* padding-right: 5rem; */
  width: 907px;
  /* height: 325px; */
  top: 28rem;
  /* left: 243px; */
  padding: 40px 67px 40px 67px;
  /* border: 2px; */
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.2);

}

.crazystuffbg {
  content: "";
  position: absolute;
  width: 752px;
  height: 282.2px;
  flex-shrink: 0;
  background: rgba(180, 231, 237, 1);
  z-index: 0;
  top: 29rem;
  left: 30rem;
}

.read {
  position: absolute;
  width: 307px;
  height: 173px;
  top: 312px;
  left: 60px;
  font-family: Helvetica;
  font-size: 128px;
  font-weight: 400;
  line-height: 173px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 110, 118, 0.16);
}

.riches {
  position: absolute;
  width: 307px;
  height: 173px;
  top: 312px;
  right: 90px;
  font-family: Helvetica;
  font-size: 128px;
  font-weight: 400;
  line-height: 173px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(30, 110, 118, 0.16);
}

/* #line2{
  left: 40px; 
} 

#line3{
  position: relative;
  top: 1rem; 
}

#line4{
  position: relative;
  top: 1rem; 
  height: 100%;
}

#line5{
  position: relative;
   top: 1rem;  
}

#line6{
  position: relative;
  top: 1rem; 
}

#line7{
  left: 240px; 
}

#line8{
  left: 280px; 
}
 
 #line9{
  position: relative;
  top: 1rem; 
} */

/*#line10{
  left: 360px; 
}

#line11{
  left: 400px; 
} */



.aboutimgbef {
  position: absolute;
  width: 376px;
  height: 376px;
  border-radius: 10px;
  z-index: 0;
  top: 10rem;
  right: 11rem;
  transform: rotate(-9.176deg);
  border: 4px solid #F2DDC2;
}



#aboutimgcontainer img {
  /* width: 375px;
  height: 461px; */
  height: 360px;
  width: 400px;
  position: relative;
  top: 0rem;
  left: 5rem;
  object-fit: cover;
}


.scrollprogress {
  position: fixed;
  top: 62px;
  height: 10px;
  width: 100%;
  background: linear-gradient(90deg, #1C656D 0%, #C1F8FF 100%);
  z-index: 1000;
  transform-origin: left;
  scale: 0 1;
  animation: scrollprogress linear;
  animation-timeline: scroll();
}


@keyframes scrollprogress {
  to {
    scale: 1 1;
  }
}

/* .communityimg {
  animation: scaling linear;
  animation-timeline: scroll(root);
  animation-range: contain, contain;
} */

@keyframes scaling {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}