.homemain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #001F3F, #000000);
    /* Dark blue to black gradient */
    border-radius: 20px;
    position: relative;
    margin-top: 90px;
    color:white;
    padding: 20px;
    width: fit-content;
}

.assets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #001F3F, #000000);
    /* Dark blue to black gradient */
    border-radius: 20px;
    position: relative;
    margin-block: 40px;
    padding: 50px;
    color: #fff;
    row-gap: 20px;
}

.homemain .left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
    row-gap: 20px;
    flex-wrap: wrap;
}

.homemain .left h1{
    font-size: 4rem;
    font-weight: 700;
    color: #ededed;
}

.homemain .left p{
    max-width: 500px;
    /* margin-block: 1rem; */
}

.homemain .left .btn{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    text-wrap: nowrap;
    outline: 2px solid #fff;
    font-weight: bold;
    border: none;
    transition: background-color 0.1s, color 0.1s, outline 0.1s;
    margin-top: 30px;
}

.homemain .left .btn:hover{
    background-color: #fff;
    color: #000;
    outline: 2px solid #000;
}

.homemain .right img{
    /* width: 512px; */
    /* aspect-ratio: 1; */
    object-fit: cover;
    border-radius: 20px;

}

.assets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border-radius: 20px;
    position: relative;
    margin-block: 40px;
    padding: 50px;
    color: #fff;
    row-gap: 20px;
}

.assets h2{
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

.assets-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.assetspecialtext{
    /* change the text into image */
    background: linear-gradient(180deg, #00c8ff, #006eff);
    background-clip: text;
    color: transparent;
}